.slides img {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.logo {
    width: 124px !important;
    height: 144px !important;
    margin: 0 auto !important;
    filter: drop-shadow(0px 0px 5px black);
    background-image: url(http://localhost/museum/uploads/logo.png);
}

.outline {
    text-shadow: -1px -1px 0 #555, 1px -1px 0 #555, -1px 1px 0 #555, 1px 1px 0 #555;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}